@model API.Models.Root
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (PassportLocation p in Model.data)
    {
        <p>@p.label</p>
    }

</div>
